<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<table>
  <tr>
    <th>ID</th>
    <th>작성자</th>
    <th>제목</th>
    <th>내용</th>
    <th>조회수</th>
    <th>작성시간</th>
  </tr>
  <tr th:each="board: ${boardList}">
    <td>
      <a th:href="@{|/board/${board.id}|}" th:text="${board.id}"></a>
    </td>
    <td th:text="${board.boardWriter}"></td>
    <td th:text="${board.boardTitle}"></td>
    <td th:text="${board.boardContents}"></td>
    <td th:text="${board.boardHits}"></td>
    <td th:text="${board.createdAt}"></td>

  </tr>
</table>
</body>
<script th:inline="javascript">

</script>
</html>